a{color:#ff0000}
.logo{background:url(images/LogoNum2.png) no-repeat}
#header{background:url(images/02.png) repeat-x top #fff}
#header.main{background:url(images/01.png) repeat-x top #fff}
#header .header-bg{background:url(images/06.jpg) no-repeat center top}
#header.main .dec-left{background:url(images/07.jpg) no-repeat bottom right}
#header.main .dec-right{background:url(images/08.jpg) no-repeat bottom right}
.facebook a{background-image:url(images/s1.png)}
.twitter a{background-image:url(images/s2.png)}
.linkedin a{background-image:url(images/s3.png)}
.googleplus a{background-image:url(images/s4.png)}
.youtube a{background-image:url(images/s5.png)}
.rss a{background-image:url(images/s6.png)}
.skype a{background-image:url(images/s7.png)}
.pinterest a{background-image:url(images/s8.png)}
.vimeo a{background-image:url(images/s9.png)}
.contact-details a{color:#ff0000}
.search-text-submit{background:url(images/04.png) no-repeat}
#menu{background:#ff0000}
#menu li a:hover{background:#da0606}
.select-menu{background:#ff0000}
.main-slider{background:url(images/09.jpg) no-repeat -0px -4px}
#menu ul{border-bottom:5px solid #3681b9}
.ls-bottom-slidebuttons a.ls-nav-active{background:#ff0000}
.bg1{background:url(images/50.png) no-repeat}
.bg2{background:url(images/53.png) no-repeat}
.bg3{background:url(images/54.png) no-repeat}
#footer{background:url(images/12.png) repeat-x #efefec}
#footer .link{color:#ff0000}
#footer .slogo{background:url(images/logofooter.png) no-repeat}
.back-top{background:url(images/14.png) no-repeat}
#content li{color:#ff0000}
h1,h2,h3,h4,h5{color:#ff0000}
div.title{background:url(images/10.png) no-repeat bottom left;padding:0 0 23px;margin:0 0 23px;width:100%}
.dropcap{background:#ff0000;color:#fff}
.dropcap2{background:#dcdee0;color:#ff0000}
.highlight1{background:#ff0000;color:#fff}
.highlight2{background:#ff0000;color:#fff}
.highlight3{background:#fcff00}
blockquote{border-left:6px solid #ff0000}
#content .navigation li a:hover,#content .navigation li.active a{color:#ff0000;border-left:8px solid #ff0000}
.tagcloud a:hover{background:#ff0000;color:#fff}
label{color:#ff0000}
.button.s1{background:#ff0000}
.button.s1:hover{background-color:#C50202;}
.button.s2{background:#5f6061}
.button.s2:hover{background:#4e4f50}
.button.s3{background:#ff0000}
.button.s3:hover{background:#e90000}
.ls-s2{background:url(images/51.png) no-repeat}
.carousel-control{color:#ff0000;background:#f2f0f2}
.carousel-control:hover{color:#ff0000}
.md-name strong{color:#ff0000}
#content .nav-tabs li{border-bottom:5px solid #ff0000;background:#ededea}
#content .nav-tabs li.active{background:#ff0000}
.nav-tabs a{color:#ff0000}
.award:hover{background-image:url(images/26.png);}
.accordion-heading .accordion-toggle{background:#ededea;color:#ff0000}
.marker{background:url(images/36.png) no-repeat}
.accordion-heading .accordion-toggle.target{background:#ff0000;color:#fff}
.move-bg-icon{background-color:#ff0000}
.link-block:hover{background:url(images/26.png) repeat-x bottom #3e3e3e;color:#bebfc0}
.link-img h4{color:#ff0000;text-align:center;}
.column h4{border-bottom:5px solid #ff0000}
.pricecolumn h3{background:url(images/41.png) repeat-x bottom #ededea}
.number{color:#ff0000}
.cents{color:#ff0000}
.time{color:#575757}
.button-price{background:#ededea;color:#ff0000}
.pricecolumn h3.active{border-top:7px solid #ff0000;background:#ff0000;color:#fff}
.price-td.active{background:#ff0000;color:#fff}
.dollar.active,.cents.active,.time.active{color:#e7e4e4}
.number{color:#fff}
.under-wrapper .date span{color:#ff0000;border-bottom:4px solid #ff0000}
#footer-under{background:url(images/45.png) no-repeat center #ff0000}
@media (max-width:979px){#header,#header .header-bg,#header.main,#header.main .header-bg{background:none;height:auto;margin-bottom:10px}
.main-slider{height:310px;background:none}
}